body {
    margin: 0;
    font-family: "宋体","微软雅黑",Arial, Helvetica, sans-serif;
    color: #6e6e6e;
}
.background {
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 1366px;
    height: 768px;
    background: url('background.jpg') no-repeat;
}
.skill {
    width: 600px;
    background-color: black;
    position: absolute;
    left: 700px;
    top: 20%;
}
.title {
    height: 45px;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 24px;
    line-height: 45px;
    font-family: 微软雅黑;
    color:rgb(192,192,192);
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: rgb(69, 29, 25);
    text-indent: 10px;
}
.skill-box {
    padding: 10px;
    background-color: #0f0f0f;
}
#skill-introduce, #skill-introduce ul{
    margin-top: 0px;
    margin-bottom: 0px; 
}
#skill-introduce ul {
    height: 36px;
    padding: 0;
}
#skill-introduce>dt>ul>li {
    height: 36px;
    width: 143px;;
    list-style: none; 
    float: left;
    text-align: center;
    font: normal 14px/30px "微软雅黑";
    cursor: pointer;
    color: #6e6e6e;
    background-color: #141516;
    border: 1px solid #202122;
    line-height: 36px;
}
#skill-introduce ul>li>img {
    width: 28px;
    height: 28px;
    vertical-align:middle;  
}
dd {
    margin-left: 0px;
}
.skill-wrap {
    width: 580px;
    height: 297px;
    margin-top: 5px;
    margin-left: 0px;
    padding-top: 30px;
    background-color: #141516;
}
.skill-wrap img {
    position: absolute;
    left: 30px;
}
.skill-info {
    position: absolute;
    left: 150px;
    right: 20px;
}
.skill-intro {
    margin-top: 0;
    padding-bottom: 10px;
    line-height: 20px;
}
.skill-intro span {
    font: bold 20px/36px "微软雅黑";
    color: #c0c0c0;
}